/*-----------colours----------*/
/*-----------mix-ins----------*/
.button {
  border-radius: 4px;
  padding: 2em 3.5em 2em 3.5em;
  box-shadow: 0px 3px 5px 0px #b0b8bd;
  margin: 2em 1em 5em 1em;
  cursor: pointer;
  max-width: 30%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
/*------------ flex -----------*/
.flex-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
.flex-row {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
/*----------- @media ----------*/
@media only screen and (device-width: 768px), only screen and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}
/*----------- ----------*/
body {
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
  font-size: 15px;
  margin: auto;
}
a {
  text-decoration: none;
}
.App {
  height: 100vh;
  width: 100vw;
}
/*-------------------- NAVIGATION BUTTONS ---------*/
.NavButton {
  color: #ffffff;
  background-color: #02b196;
  border-radius: 4px;
  padding: 2em 3.5em 2em 3.5em;
  box-shadow: 0px 3px 5px 0px #b0b8bd;
  margin: 2em 1em 5em 1em;
  cursor: pointer;
  max-width: 30%;
}
.NavButton:hover {
  background-color: #057a64;
}
.NavButtonGreyed {
  color: #f1f1f1;
  background-color: #bdb6b0;
  border-radius: 4px;
  padding: 2em 3.5em 2em 3.5em;
  box-shadow: 0px 3px 5px 0px #b0b8bd;
  margin: 2em 1em 5em 1em;
  cursor: pointer;
  max-width: 30%;
}
/*-------------------- FORM STYLING ---------*/
input {
  border: none;
  height: 2em;
  font-size: inherit;
}
.FormLine {
  border-bottom: #98192a 2px solid;
  margin: 0px auto;
}
.PageContent {
  width: 100%;
  padding-top: 2em;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}